@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default;
}
@theme {
    --breakpoint-*: initial;
    --breakpoint-mobile: 340px;
    --breakpoint-desktop: 1400px;
  
  }
  @font-face {
    font-family: shabnam;
    src: url(../font/Shabnam-Medium-FD.woff);
  }
body{
    overflow-x: hidden;
    font-family: shabnam;
    
  }
  html,
  body {
    scroll-behavior: smooth;
    font-family: shabnam;
  }
 
  .shabnam{
    font-family: shabnam;
  }
 .dark-log{
  background-color: rgb(29, 26, 26);
 }

@layer components{

 
 
  .header-desktop{
    @apply w-[100%] h-[130px] duration-300 bg-stone-50
  }
.min-height{
  height: 85px;
}

  .header-desktop{
    box-shadow: 0px  0px 10px; 
  }
  .header-desktop-top{
    @apply w-[100%] h-[85px]  flex flex-row 
  }
  .part1-top{
    @apply w-[10%] h-[100%] flex flex-col justify-center items-center
  }

.search-icon{
  @apply w-[6%] h-[100%] flex flex-col justify-center items-center
}
.part3{
  @apply w-[35%] h-[100%] flex flex-row justify-end items-center
}
.icon-p1{
  @apply w-[50px] h-[50px]  
}

.icon-p2{
  @apply w-[50px] h-[50px]  
}
.nav{
  @apply w-[60%] h-[40px]  flex flex-row 
}
.div-header-height-desktop{
  @apply w-[100%] h-[40px] flex flex-row duration-300;
}
 .height{
  height: 10px;
  opacity: 0;
}
.navDiv{
  @apply w-[16%] h-[100%]  flex flex-row justify-center items-center gap-[3px] relative 
}
.navDiv1{
  @apply w-[21%] h-[100%]  flex flex-row justify-center items-center gap-[9px]  relative
}

.icon2{
  @apply text-stone-500 mr-[20px]
}
.hamburgerDiv{
  @apply w-[20%] h-[70%] flex flex-col justify-center items-center gap-[4.8px] mr-[16px] duration-300
}
.hanburger{
  @apply w-[70%] h-[2.5px] bg-stone-500 duration-300 rounded-2xl
}
.nav-Div-Text{
  @apply font-[600] text-stone-500
}
.subMenu1{
  @apply absolute w-[98vw] h-[410px] bg-stone-50 top-[40px] left-[-1372px]  duration-[200ms] delay-300 scale-0  opacity-0 z-50  rounded-[15px] rounded-tr-[0px] rounded-tl-[0px]
}
.subMenu1{
  z-index: 100;
}
.opac{
@apply opacity-100 scale-100
}
.boxshadow-nav{
  box-shadow: 0px 6px 10px gray ;
}
.p1{
  @apply w-[12%] h-[100%]  flex flex-col justify-center items-center
}
.menu-div-desktop{
  @apply w-[100%] h-[10%] flex flex-col justify-center  pr-[25px] pt-[5px]
}
.back-back-p2{
@apply w-[83.5%] h-[100%] 
}
.p2{
  @apply w-[83.5%] h-[100%]  flex flex-row duration-500 absolute top-[0px] left-[-10px]  opacity-0
}
.shadow-p2{
  box-shadow: 0px 0px 1px rgb(135, 133, 133);
}

.p3{
  @apply  w-[83.5%] h-[100%]  flex flex-row duration-500 absolute top-[0px] left-[-10px] opacity-0;
  .soton1-p3{
    @apply w-[13%] h-[100%]  flex flex-col mr-[15px];
    .part1-soton1-p3{
      @apply w-[100%] h-[30%] flex flex-col;
      .text-p1-st1-p3{
        @apply w-[100%] h-[40%]  flex justify-start items-end ;    
      }
      .text-p2-st1-p3{
        @apply w-[100%] h-[25%]  flex flex-col justify-center items-start pr-[15px]
      }
    }
    .part2-soton1-p3{
      @apply w-[100%] h-[25%];
        .text-p1-st1-p3{
        @apply w-[100%] h-[30%]  flex justify-start items-start;    
      }
      .text-p2-st1-p3{
        @apply w-[100%] h-[30%]  flex flex-col justify-start items-start pr-[15px] 
      }
    }
  }
  .soton2-p3{
    @apply w-[16%] h-[100%]  flex flex-col justify-between items-center;
    .part1-soton2-p3{
      @apply w-[100%] h-[52%]  flex flex-col;
      .text-p2-st2-p3{
        @apply w-[100%] h-[50%]  flex flex-col justify-end items-start;
      }
      .text-p2-st2-p3-little{
        @apply w-[100%] p-[4.5px]  flex justify-start items-end
      }
    }
    .part2-soton2-p3{
      @apply w-[100%] h-[50%]  flex flex-col;
      .text-p2-st2-p3{
        @apply w-[100%] h-[15%] flex flex-col;
       
      }
       .text-p2-st2-p3-child{
          @apply  w-[100%] h-[15%]  flex items-center
        }
    }
  }
  .soton3-p3{
    @apply w-[17%] h-[83%] flex flex-col;
    .part1-soton3-p3{
      @apply w-[100%] h-[51%]  flex flex-col;
      .text-p1-st3-p3{
      @apply w-[100%] h-[29%]  flex flex-col justify-end items-start;
      }
      .text-p2-st3-p3-child{
        @apply w-[100%] h-[17.7%] flex flex-col justify-end pr-[75px]
      }
    }
    .part2-soton3-p3{
      @apply w-[100%] h-[51%]  flex flex-col;
      .text-p1-st3-p3{
      @apply w-[100%] h-[29%]  flex flex-col justify-end items-start ;
      }
      .text-p2-st3-p3-child{
        @apply w-[100%] h-[17.7%] flex flex-col justify-center pr-[75px]
      }
    }
  }
  .soton4-p3{
    @apply w-[17%] h-[83%] flex flex-col;
    .part1-soton3-p3{
      @apply w-[100%] h-[51%]  flex flex-col;
      .text-p1-st3-p3{
      @apply w-[100%] h-[29%]  flex flex-col justify-end items-start;
      }
      .text-p2-st3-p3-child{
        @apply w-[100%] h-[17.7%] flex flex-col justify-end pr-[75px]
      }
    }
    .part2-soton3-p3{
      @apply w-[100%] h-[51%]  flex flex-col;
      .text-p1-st3-p3{
      @apply w-[100%] h-[29%]  flex flex-col justify-end items-start; 
         }
      .text-p2-st3-p3-child{
        @apply w-[100%] h-[17.7%] flex flex-col justify-start pr-[70px]
      }
    }
  }
  .soton5-p3{
    @apply w-[37%] h-[100%] flex flex-row;
    .part1-soton5-p3{
      @apply w-[51%] h-[45%] flex flex-col;
      .p1{
        @apply w-[100%] h-[65%] ;
         .text-p1-st5-p3{
      @apply w-[100%] h-[40%]  flex flex-col justify-end items-start;
      }
      .text-p2-st5-p3-child{
        @apply w-[100%] h-[30%] flex flex-col justify-end pr-[75px];
      }
      }
      .p22{
        @apply w-[100%] h-[35%]  flex flex-col;
        .text-p1-st5-p3{
          @apply w-[100%] h-[50%]
        }
      }
    }
    .part2-soton5-p3-img{
      @apply w-[50%] h-[100%] flex justify-center items-center;
    
        img{
          @apply w-[100%] ml-[45px] mt-[5px]
        
      }

    }
  }
}
.p4{
  @apply w-[83.5%] h-[100%]  flex flex-row duration-500 absolute top-[0px] left-[-10px] opacity-0;
  .soton1-p4{
    @apply w-[20%] h-[100%] flex flex-col;
    .text-st1-p1-p4{
      @apply w-[100%] h-[12%]  flex flex-col justify-end items-start
    }
    .text-st1-p2-p4{
      @apply w-[100%] h-[8%]  flex flex-col justify-end items-start
    }
    .text-st1-p3-p4{
      @apply w-[100%] h-[7.5%] flex flex-col justify-end items-start
    }
  }
   .soton2-p4{
    @apply w-[18%] h-[100%]  flex flex-col;
    .text-st1-p1-p4{
      @apply w-[100%] h-[12%]  flex flex-col justify-end items-start
    }
    .text-st1-p2-p4{
      @apply w-[100%] h-[8%] flex flex-col justify-end items-start
    }
  }
   .soton3-p4{
    @apply w-[18%] h-[100%]  flex flex-col;
.back3{
  @apply  w-[100%] h-[52%] flex flex-col ;
      .text-st1-p1-p4{
      @apply w-[100%] h-[24%]  flex flex-col justify-end items-start
    }
    .text-st1-p2-p4{
      @apply w-[100%] h-[16%] flex flex-col justify-end items-start
    }
}
  .text-st1-p3-p4{
    @apply w-[100%] h-[8%] flex flex-col justify-center
  }
  .text-st1-p4-p4{
    @apply w-[100%] h-[8%]
  }
  }
  .soton4-p4{
    @apply w-[40%] h-[100%] flex flex-col justify-center items-center;
    .img-p{
      @apply w-[100%] h-[100%]  flex flex-col justify-center items-center
    }
  }
}
.p5{
  @apply w-[83.5%] h-[100%] flex flex-row duration-500 absolute top-[0px] left-[-10px] opacity-0 ;
  .soton1-p5{
    @apply w-[20%] h-[100%] flex flex-col;
    .text-st1-p1-p5{
      @apply w-[100%] h-[12%]  flex flex-col justify-end items-start
    }
    .text-st1-p2-p5{
      @apply w-[100%] h-[8.1%] flex flex-col justify-end items-start
    }
    .text-st1-p3-p5{
      @apply w-[100%] h-[7.5%] flex flex-col justify-center items-start
    }
  }
   .soton2-p5{
    @apply w-[15%] h-[100%]  flex flex-col;
    .p1{
      @apply w-[100%] h-[70%] flex flex-col justify-start;
      .text-st1-p1-p5{
        @apply w-[100%] h-[17%]  flex justify-start items-end
      }
      .text-st1-p2-p5{
        @apply w-[100%] h-[11.2%]   flex justify-start items-end
      }
    }
    .p22{
      @apply w-[100%] h-[20%]  flex flex-col justify-start;
      .text-st1-p1-p5{
        @apply w-[100%] h-[30%] flex flex-col justify-end items-start
      }
      .text-st1-p2-p5{
        @apply w-[100%] h-[40%] flex flex-col justify-center items-start
      }
    }
  }
  .soton3-p5{
    @apply w-[53%] h-[100%]  flex flex-col justify-center items-end;
    .img-div4{
      @apply w-[75%] h-[65%] 
    }
  }
  .space-div{
    @apply w-[12%] h-[100%];
  }
 
}
.p6{
  @apply w-[83.5%] h-[100%]  flex flex-row duration-500 absolute top-[0px] left-[-10px] opacity-0;
  .soton1-p6{
    @apply w-[20%] h-[100%]  flex flex-col;
   .p11{
    @apply w-[100%] h-[27%]  flex-col; 

     .text-st1-p1-p6{
      @apply w-[100%] h-[45%] flex flex-col justify-end items-start;
    }
    .text-st1-p2-p6{
      @apply w-[100%] h-[25%] flex flex-col
       justify-end items-start
    }
   }
   .p222{
    @apply w-[100%] h-[35%]  flex flex-col;
    .text-st1-p2-p6{
      @apply w-[100%] h-[25%] flex flex-col justify-end items-start
    }
    .text-st1-p3-p6{
      @apply w-[100%] h-[22%]  flex flex-col justify-center items-start
    }
    
   }
   .p33{
    @apply w-[100%] h-[38%]  flex flex-col;
    .text-st1-p3-p6{
      @apply w-[100%] h-[15%] flex flex-col justify-start
    }
    .text-st1-p4-p6{
      @apply w-[100%] h-[100%] 
    }
   }
  }
  .soton2-p6{
    @apply w-[25%] h-[100%] flex flex-col items-end;
    .part1-soton2-p6{
      @apply w-[80%] h-[40%]  flex flex-col ;
      .text-st2-p1-p6{
        @apply w-[100%] h-[31%]  flex flex-col justify-end items-center pl-[10px] 
      }
      .text-st2-p2-p6{
        @apply w-[100%] h-[20%]  flex flex-col justify-end items-center pl-[20px]     
        }
      .text-st2-p22-p6{
        @apply w-[100%] h-[20%]  flex flex-col justify-end items-start
        pr-[70px] 
      }
       .text-st2-p3-p6{
        @apply w-[100%] h-[18%] flex flex-col justify-center items-center pl-[10px]
      }
    }
  }
  .space{
    @apply w-[15%] h-[100%];
  }
.soton3-p6{
  @apply w-[40%] h-[100%]  flex flex-col justify-center  ;
  .img-div{
    @apply w-[100%] h-[100%] bg-amber-700
  }
}
}
.p7{
  @apply w-[83.5%] h-[100%] flex flex-row duration-500 absolute top-[0px] left-[-10px] opacity-0 ;
.soton1-p7{
  @apply w-[18%] h-[100%] flex flex-col;
  .p11{
    @apply w-[100%] h-[45%]  flex flex-col ;
    .text-p1-st1-p7{
      @apply w-[100%] h-[27%]  flex flex-col justify-end items-start
    }
    .text-p2-st1-p7{
      @apply w-[100%] h-[17%]  flex flex-col justify-end items-start
    }
  }
  .p222{
    @apply w-[100%] h-[46%]  flex flex-col;
    .text-p3-st1-p7{
      @apply w-[100%] h-[20%] flex flex-col justify-center items-start
    }
  }
}
}
.p8{
  @apply w-[83.5%] h-[100%] duration-500 flex flex-row absolute top-[0px] left-[-10px] opacity-0;
  .soton1-p8{
    @apply w-[25%] h-[100%] flex flex-col ;
    .text-st1-p1-p8{
      @apply w-[100%] h-[13%] flex flex-col justify-end items-start
    }
    .text-st1-p2-p8{
      @apply w-[100%] h-[7.7%] flex flex-col justify-end items-start
    }
  }
  .soton2-p8{
    @apply w-[25%] h-[100%]  flex flex-col items-center ;
    .p1-st2-p8{
      @apply w-[70%] h-[35%]  flex flex-col;
      .text-st2-p1-p8{
        @apply w-[100%] h-[35%] flex flex-col justify-end items-start
      }
      .text-st2-p2-p8{
        @apply w-[100%] h-[22%] flex flex-col justify-end items-start
      }
    }
    .p2-st2-p8{
      @apply w-[70%] h-[25%] flex flex-col;
            .text-st2-p3-p8{
        @apply w-[100%] h-[35%] flex flex-col justify-end items-start
      }
      .text-st2-p4-p8{
        @apply w-[100%] h-[33%] flex flex-col justify-center items-start
      }
    }
    .p3-st2-p8{
      @apply w-[70%] h-[15%] flex flex-col;
      .text-st2-p3-p8{
        @apply w-[100%] h-[50%] flex flex-col justify-end items-start
      }
      .text-st2-p4-p8{
        @apply w-[100%] h-[50%] flex flex-col justify-center items-start
      }
    }
    .p4-st2-p8{
      @apply w-[70%] h-[20%] flex flex-col ;
      .text-st2-p5-p8{
        @apply w-[100%] h-[40%]  flex flex-col justify-end items-start
      }
    }
  }
  .soton3-p8{
    @apply w-[50%] h-[100%]  flex flex-col justify-center items-center;
    .img-div{
      @apply w-[79%] h-[70%]   
     }
  }
}
.p9{
  @apply w-[83.5%] h-[100%] duration-500 flex flex-row absolute top-[0px] left-[-10px] opacity-0;
  .soton1-p9{
    @apply w-[15%] h-[100%]  flex flex-col;
    .p1{
      @apply w-[80%] h-[30%]  flex flex-col ;
      .text-st1-p1-p9{
        @apply w-[100%] h-[45%]  flex flex-col justify-end items-start
      } 
      .text-st1-p2-p9{
        @apply w-[100%] h-[30%]  flex flex-col justify-center items-start
      } 
    }
    .pp2{
      @apply w-[80%] h-[15%] flex flex-col;
      .text-st1-p2-p8{
        @apply w-[100%] h-[50%] flex flex-col justify-start items-start
      }
    }
  }
  .soton2-p9{
    @apply w-[85%] h-[100%] flex flex-col justify-center items-end;
    .img-div{
      @apply w-[46%] h-[55%] flex flex-col

    }
  }
}
.p10{
  @apply w-[83.5%] h-[100%] duration-500 flex flex-row absolute top-[0px] left-[-10px] opacity-0;
  .soton1-p10{
    @apply w-[20%] h-[100%]  flex flex-col;
    .p1-p1{
      @apply w-[80%] h-[60%]  flex flex-col;
      .text-st1-p1-p10{
        @apply w-[100%] h-[21%] flex flex-col justify-end items-start
      }
      .text-st1-p2-p10{
        @apply w-[100%] h-[13%] flex flex-col justify-end items-start
      }
    }
    .p2-p2{
      @apply w-[80%] h-[40%]  flex flex-col;
      .text-st1-p2-p10{
        @apply w-[100%] h-[20%] flex flex-col justify-end items-start
      }
      .text-st1-p3-p10{
        @apply w-[100%] h-[20%] flex flex-col justify-start items-start
      }
    }
  }
  .space{
    @apply w-[10%] h-[100%]
  }
  .soton2-p10{
    @apply w-[15%] h-[22%] flex flex-col;
    .text-st2-p1-p10{
      @apply w-[90%] h-[55%] flex flex-col justify-end items-start
    }
    .text-st2-p2-p10{
      @apply w-[90%] h-[40%] flex flex-col justify-center items-start
    }
  }
  .soton3-p10{
    @apply w-[55%] h-[100%] flex flex-col justify-center items-center;
    .img-div{
      @apply w-[71%] h-[55%] flex flex-col
    }
  }
}
.p1111{
  @apply w-[83.5%] h-[100%] duration-500 flex flex-row absolute top-[0px]
  left-[-10px]  opacity-0;
  .soton1-p1111{
    @apply w-[20%] h-[25%]  flex flex-col ;
    .text-st1-p1-p1111{
      @apply w-[100%] h-[50%] flex flex-col justify-end items-start
    }
    .text-st1-p2-p1111{
      @apply w-[100%] h-[50%] flex flex-col justify-start items-start
    }
  }
  .soton2-p1111{
    @apply w-[80%] h-[100%]  flex flex-col justify-center items-end;
    .img-div-p1111{
      @apply w-[50%] h-[50%]   flex flex-col justify-center items-center 
    }
  }
}
.opacity{
  @apply opacity-100
}


.soton1{
  @apply w-[20%] h-[100%]  flex flex-col 
}
.soton2{
  @apply w-[20%] h-[100%] flex flex-col
}
.soton3{
  @apply w-[49%] h-[100%]  flex flex-col justify-center items-center
}
.img-div{
  @apply w-[80%] h-[50%]  mt-[55px] flex flex-col justify-center items-center mr-[95px] mb-[50px]
}
.part1-soton1{
  @apply w-[70%] h-[45%]  flex flex-col mt-[25px]
}
.part1-soton1-child1{
  @apply w-[90%] h-[17%] 
}
.part1-soton1-child2{
  @apply w-[90%] h-[16.5%] flex flex-col justify-center
  items-center
}
.space-div{
  @apply w-[10%] h-[100%] 
}
.bigText{
  @apply text-stone-600 pr-[5px] text-[1rem] font-bold duration-200 hover:text-green-500
}
.little-Text{
  @apply text-[16px] text-stone-500 duration-200 hover:text-green-500
}

.bg{
  @apply bg-green-400
}
.pishFactor-div{
  @apply w-[40%] h-[40px]  flex flex-col justify-end items-end
}
.pishFactor{
  @apply w-[25%] h-[82%] rounded-[7px] text-[14px] flex flex-row justify-center items-center gap-[5px] ml-[15px] 
}
.div-text{
  @apply w-[100%] h-[30px]  flex flex-col justify-end items-center duration-500
}
.none{
  @apply opacity-0
}
.absolute{
  position: absolute;
  bottom: 50px;
  transition: 300ms;
}
.div-header-mobile{
  @apply w-[100%] h-[110px]  desktop:hidden flex flex-col z-[100]
}
.header-mobile{
  @apply w-[100%] h-[110px] fixed top-0 left-0 bg-stone-50  z-[100]
}
.header-mobile-part-top{
  @apply w-[100%] h-[55px]  flex flex-row 
}
.background-hamburger{
  @apply w-[15%] h-[100%] flex flex-col justify-center items-end 
}
.hamburger-div{
  @apply w-[60%] h-[60%]  mt-[10px] cursor-pointer flex flex-col justify-center items-center gap-[4.5px]
}
.hamburger{
  @apply w-[60%] h-[3px] bg-stone-500
}
.background-logo{
  @apply w-[60%] h-[100%] flex flex-col justify-center items-center
}
.div-logo{
  @apply w-[50%] h-[100%] flex flex-col justify-center items-center mr-[40px]
}
.bacjground-icons{
  @apply w-[25%] h-[100%] flex flex-row flex-wrap
}
.icon{
  @apply w-[50%] h-[100%] flex flex-col justify-center items-center text-[25px] text-stone-500
}
.icon-span{
  @apply mt-[10px]
}
.header-mobile-part-bottom{
  @apply w-[100%] h-[55px]  flex flex-row justify-center items-start
}
.div-search{
  @apply w-[91%] h-[80%] bg-stone-200 rounded-[7px] flex flex-row 
}
.div-icon{
  @apply w-[13%] h-[100%]  flex flex-col justify-center items-center text-[22px]
}
.inp{
  @apply w-[87%] h-[100%] outline-0 placeholder:mt-[-1px]
}
.subMenu-background-hamburger{
  @apply  w-[81vw] h-[100vh]  absolute  bg-stone-50 top-[0px] left-[390px] z-10 duration-300 overflow-y-scroll
}
.div-Text-mobile{
  @apply w-[100%] h-[15px]  flex flex-col justify-end text-center items-end
}
.part1-submenu{
  @apply w-[100%] h-[70px]  flex flex-row flex-wrap 
}
.logo-part{
  @apply w-[50%] h-[100%]  flex flex-row justify-center items-center
}
.close-part{
  @apply w-[50%] h-[100%] flex flex-col justify-center items-end 
}
.back-nav{
  @apply w-[100%]   flex flex-col  items-center duration-300 
}
.mobile-nav{
  @apply w-[100%] bg-stone-50 duration-300 py-[15px]
}
.mobile-nav-height{
  height: 700px;
  background-color: dodgerblue
}


.menu-div{
  @apply w-[100%] h-[20%] flex flex-row items-center  
}
.black-mobile-menu-button{
  @apply w-[50%] h-[70%]  rounded-[5px] mr-[15px] flex flex-row flex-wrap
}
.circle-mobile-black-button{
  @apply w-[75%] h-[40%] bg-green-500 rounded-[50%] mt-[10px]
}

           .dv_main_sub{
                    @apply w-[100%];

                    .col_main{
                        @apply  rounded-none  pr-[10px] bg-stone-50 !duration-[300ms] ;
                       
                         .div-sub{
                              @apply w-[100%] h-[50px] flex items-center   text-[15px] text-stone-800 pr-[11%] !duration-[10ms] bg-stone-200 
                            }
                       .col_main2{
                        @apply flex flex-col items-start w-[100%]  h-auto bg-stone-200 pr-[10px] !duration-[10ms];
                        .divasub{
                            @apply w-[100%] h-[30px] flex items-center bg-stone-200  pr-[10%] text-[14px]  text-gray-500; 
                            .asubm{
                              @apply mt-[10px]
                            }
                        
                        }
                           
                         .col_scnd{
                            @apply  w-[100%] rounded-none pr-[6%] bg-stone-200  p-0 z-10;
                            .colps_content{ 
                                @apply flex flex-col justify-center pr-[13%] gap-[6px] !duration-[10ms];
                                
                                .text-col{
                                    @apply text-gray-500 text-[15px]  hover:text-green-500;
                                }
                            }
                            .colps_content1{ 
                                @apply flex flex-col justify-center pr-[13%] gap-[6px]   !duration-[10ms];
                                
                                .text-col{
                                    @apply text-gray-500 text-[15px]  hover:text-green-500;
                                }
                            }
                            .title_sc{
                                @apply text-[14px];
                            }
                        }
                       }
                    }
                }
                

.circle-mobile-black-button{
  box-shadow: 0px 0px 10px rgb(36, 214, 36);
}



.back-Slider{
    @apply w-[100%] desktop:h-[420px] h-[290px] flex flex-col justify-center items-center rounded-[10px];
    .swiper{
      @apply desktop:w-[95%] desktop:h-[88%] mobile:w-[100%] h-[100%]  flex flex-row flex-wrap justify-center items-center duration-300 rounded-[10px];
          .swiper-pagination-bullet{
  width: 30px !important;
  height: 4px !important;
  border-radius: 4px !important;
  background-color: rgb(119, 110, 110) !important;

  box-shadow: 0 0 2px #0005 !important;
  transition: 300ms !important;
  
} 
.hover-swiper{
  @apply opacity-50 duration-300
}
.opacity-swiper{
  @apply opacity-100
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  color: #343434 !important;
  transform: translateX(-85px);
  transition: 500ms;
  opacity: 0.5;
  transition-duration: 500ms;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
   color: #343434 !important;
  transform: translateX(-85px);
  transition: 500ms;
  opacity: 0.5;
  transition-duration: 500ms;
}
.translateX{
transform: translateX(-10px);
}
.translateXX{
  transform: translateX(10px);
}
    }


    .swiper-slide {
      @apply text-center text-[18px] flex justify-center items-center object-cover

    }

    .swiper-slide img {
      @apply block w-[100%] h-[100%] object-cover
    
    }

  }

.part2-section3{
  @apply w-[480px] h-[160px] rounded-[15px]
}
.part3-section3{
  @apply w-[92%] h-[160px] flex flex-col justify-center
  items-center rounded-[15px] 
}
.p4-square{
  @apply w-[48%] h-[90%] bg-stone-200 rounded-[10px] flex flex-col justify-center items-center 
}
.title{
  @apply w-[100%] desktop:h-[45px] 
}
.title-mo{
  @apply w-[100%] h-[35px] 
}
.back-slider2{
  @apply w-[100%] h-[90%] flex flex-row justify-center items-center;
  
      .swiper {
      width: 97%;
      height: 100%;
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
  color: #050505 !important;
  transition-duration: 500ms;
  font-weight: 900;
margin-bottom: 30px;
margin-right: 5px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  width: 35px !important;
  height: 30px;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #a39c9c;


}
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
 width: 28px !important;
  height: 30px !important;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #a39c9c;
 margin-left: 20px;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
      color: #050505 !important;
  transition-duration: 500ms;
 font-size: 10px !important;
font-weight: 900;

  }
  
    }

    .swiper-slide {
      width: 261px !important;
      height: 385px !important;
      border-radius: 5px !important;
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      transition: 200ms;
       border: solid;
        border-color: #d4d1d1;
        border-width: 1px;
      &:hover{
        border: solid;
        border-color: rgb(57, 204, 57);
        border-width: 1.5px;
      }
      .img-div-slide{
        @apply w-[100%] h-[70%]  rounded-[5px] flex flex-col justify-center items-center
      }
      .text-div-slide{
        @apply w-[100%] h-[15%]  flex flex-col justify-start items-center
      }
      .text-number-div-slide{
        @apply w-[100%] h-[15%]  flex flex-col justify-start items-center
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}
.back-slider3{
  @apply w-[100%] h-[90%] flex flex-row justify-center items-center;
  
      .swiper {
      width: 97%;
      height: 100%;
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
  color: #050505 !important;
  transition-duration: 500ms;
  font-weight: 900;
margin-bottom: 30px;
margin-right: 5px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  width: 35px !important;
  height: 30px;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #a39c9c;

}
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
 width: 28px !important;
  height: 30px !important;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #a39c9c;
 margin-left: 20px;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
      color: #050505 !important;
  transition-duration: 500ms;
 font-size: 10px !important;
font-weight: 900;

  }
  
    }

    .swiper-slide {
      width: 261px !important;
      height: 385px !important;
      border-radius: 5px !important;
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      transition: 200ms;
       border: solid;
        border-color: #d4d1d1;
        border-width: 1px;
      &:hover{
        border: solid;
        border-color: rgb(57, 204, 57);
        border-width: 1.5px;
      }
      .img-div-slide{
        @apply w-[100%] h-[70%]  rounded-[5px] flex flex-col justify-center items-center
      }
      .text-div-slide{
        @apply w-[100%] h-[15%]  flex flex-col justify-start items-center
      }
      .text-number-div-slide{
        @apply w-[100%] h-[15%]  flex flex-col justify-start items-center
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}
.back-slider4{
  @apply w-[100%] h-[90%] flex flex-row justify-center items-center;
  
      .swiper {
      width: 97%;
      height: 100%;
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
  color: #050505 !important;
  transition-duration: 500ms;
  font-weight: 900;
margin-bottom: 30px;
margin-right: 5px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  width: 35px !important;
  height: 30px;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #a39c9c;


}
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
 width: 28px !important;
  height: 30px !important;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #a39c9c;
 margin-left: 20px;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
      color: #050505 !important;
  transition-duration: 500ms;
 font-size: 10px !important;
font-weight: 900;

  }
  
    }

    .swiper-slide {
      width: 261px !important;
      height: 385px !important;
      border-radius: 5px !important;
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      transition: 200ms;
       border: solid;
        border-color: #d4d1d1;
        border-width: 1px;
      &:hover{
        border: solid;
        border-color: rgb(57, 204, 57);
        border-width: 1.5px;
      }
      .img-div-slide{
        @apply w-[100%] h-[70%]  rounded-[5px] flex flex-col justify-center items-center
      }
      .text-div-slide{
        @apply w-[100%] h-[15%]  flex flex-col justify-start items-center
      }
      .text-number-div-slide{
        @apply w-[100%] h-[15%]  flex flex-col justify-start items-center
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

.back-slider2-mobile{
  @apply w-[100%] h-[90%]  flex flex-row justify-center items-center;
      .swiper {
 @apply w-[100%] h-[100%] ;
      
 .swiper-slide {
  width: 151.13px !important;
  height: 250px !important;
  display: flex;
  flex-flow: column wrap;
   text-align: center;
   font-size: 18px;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   margin-top: 4px;
   border: solid 1px #acaaaa;
  .img-div-slide1-mo{
    @apply w-[100%] h-[65%] rounded-[10px] flex justify-center items-center
  }

  .text-div-slider-mo{
    @apply w-[100%] h-[17%]  flex flex-col justify-center items-center 
  }
  .text-div-slider-number-mo{
    @apply w-[100%] h-[18%]  rounded-[10px] flex flex-col  justify-start items-center text-stone-600
  }
 }
    }


    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}
.back-slider3-mobile{
  @apply w-[100%] h-[90%]  flex flex-row justify-center items-center;
      .swiper {
 @apply w-[100%] h-[100%] ;
      
 .swiper-slide {
  width: 151.13px !important;
  height: 250px !important;
  display: flex;
  flex-flow: column wrap;
   text-align: center;
   font-size: 18px;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   margin-top: 4px;
   border: solid 1px #acaaaa;
  .img-div-slide1-mo{
    @apply w-[100%] h-[65%] rounded-[10px] flex justify-center items-center
  }

  .text-div-slider-mo{
    @apply w-[100%] h-[17%]  flex flex-col justify-center items-center 
  }
  .text-div-slider-number-mo{
    @apply w-[100%] h-[18%]  rounded-[10px] flex flex-col  justify-start items-center text-stone-600
  }
 }
    }


    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}
.back-slider4-mobile{
  @apply w-[100%] h-[90%]  flex flex-row justify-center items-center;
      .swiper {
 @apply w-[100%] h-[100%] ;
      
 .swiper-slide {
  width: 151.13px !important;
  height: 250px !important;
  display: flex;
  flex-flow: column wrap;
   text-align: center;
   font-size: 18px;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   margin-top: 4px;
   border: solid 1px #acaaaa;
  .img-div-slide1-mo{
    @apply w-[100%] h-[65%] rounded-[10px] flex justify-center items-center
  }

  .text-div-slider-mo{
    @apply w-[100%] h-[17%]  flex flex-col justify-center items-center 
  }
  .text-div-slider-number-mo{
    @apply w-[100%] h-[18%]  rounded-[10px] flex flex-col  justify-start items-center text-stone-600
  }
 }
    }


    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

.back-back-triangle{
  @apply w-[100%] desktop:h-[440px] h-[305px] flex flex-col justify-center items-center ;
 .back-traingle{
  @apply desktop:w-[97%] desktop:h-[90%] w-[92%] h-[100%] flex desktop:flex-row flex-col justify-center  items-center desktop:gap-[25px] mobile:gap-[10px];
  .triangle{
    @apply desktop:w-[50%] desktop:h-[92%] w-[100%] h-[47%]  flex flex-col rounded-[10px]  justify-center items-center desktop:mb-[5px] mt-[0px];
    .img{
      @apply w-[100%] h-[100%] rounded-[10px]
    }
  }
 }
}
.back-four-shape-num{
  @apply w-[100%] desktop:h-[300px] h-[400px] flex flex-col justify-center items-center;
  .four-shape-num{
    @apply desktop:w-[55%] desktop:h-[85%]  flex flex-row flex-wrap mb-[5px];
    .title{
      @apply w-[50%] desktop:h-[20%] flex justify-center
       items-start mx-auto
    }
   .back-p-1-4{
    @apply w-[100%] desktop:h-[80%]  flex flex-row gap-[20px];
    .part-1-4{
      @apply w-[25%] h-[90%] flex flex-col justify-center items-center;
      .img-back-div{
        @apply w-[84%] h-[80%] flex flex-col justify-center items-center
      }
    }
   }
  }
.four-shape-num-mo{
  @apply w-[85%] h-[80%]  flex flex-col justify-center items-center mb-[30px];
  .title{
    @apply w-[100%] h-[15%]  flex justify-center items-end;
  }
  .back-4p{
    @apply w-[100%] h-[100%]  flex flex-row ;

    .back1-p1-2{
@apply w-[50%] h-[100%]  flex flex-col;
.p1-p1{
  @apply w-[100%] !h-[50%] flex flex-col justify-center items-center
}
    }
  }
}
}
.p1-p1{
  &:hover .dd span{
color: rgb(25, 199, 37) !important;

  }
}
.five-shape{
  @apply desktop:w-[70%] w-[100%] desktop:h-[85%] h-[100%] flex flex-col justify-center items-center;
  .title{
    @apply desktop:w-[50%] desktop:h-[20%] h-[10%] flex flex-col desktop:justify-start justify-center items-center  desktop:mb-[30px] mb-[0px]
  }
  .five{
    @apply w-[100%] h-[80%]  flex flex-row ;
    .p1{
      @apply w-[20%] h-[100%]  flex flex-col;
      .img-div-five{
        @apply w-[100%] h-[90%]  flex flex-col justify-center items-center mx-auto
      }
    }
  }
  .five-mo{
    @apply w-[80%] h-[450px] flex flex-col ;
    .background-part1-mo-5-camp{
      @apply w-[100%] h-[32%]  flex flex-row gap-[15px] mt-[7px];
      .p1-camp{
        @apply w-[50%] h-[100%] 
      }
    }
  }
}
.p1-2{
  @apply desktop:w-[48%] w-[93%] desktop:h-[85%] h-[140px]  flex flex-col justify-center items-center rounded-[10px] 
}

.backslider5{
  @apply w-[100%] h-[90%]  flex flex-col mr-[-3px];
  
.swiper {
      width: 100%;
      height: 43%;
      
    }

    .swiper-slide {
      width: 200px !important;
      text-align: center;
      font-size: 18px;
      display: flex !important;
      flex-flow: column wrap !important;
      justify-content: center !important;
      align-items: center !important;
    
      &:hover div span{
        color: rgb(36, 214, 36) !important;
      }
      div{
        span{
            transition: 300ms !important;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  width: 35px !important;
  height: 30px;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #a39c9c;

}
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
 width: 28px !important;
  height: 30px !important;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #a39c9c;
 margin-left: 20px;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
      color: #050505 !important;
  transition-duration: 500ms;
 font-size: 10px !important;
font-weight: 900;

  }

}
.backslider5-mobile{
  @apply w-[100%] h-[90%] flex flex-col; 
.swiper {
      width: 100%;
      height: 45%;
      
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex !important;
      flex-flow: column wrap !important;
      justify-content: center !important;
      align-items: center !important;
      &:hover div span{
        color: rgb(25, 199, 37) !important;
      }
      div{
        span{
          transition: 300ms;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  width: 35px !important;
  height: 30px;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #a39c9c;

}
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
 width: 28px !important;
  height: 30px !important;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #a39c9c;
 margin-left: 20px;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
      color: #050505 !important;
  transition-duration: 500ms;
 font-size: 10px !important;
font-weight: 900;

  }
  
}

.sub-footer{
@apply w-[100%] h-[0px] duration-300 
}
.sub-footer2{
@apply w-[100%] h-[0px] duration-300 
}
.sub-footer3{
@apply w-[100%] h-[0px] duration-300 
}
.sub-footer4{
@apply w-[100%] h-[0px] duration-300 
}
.h-footer1{
  @apply h-[45px] bg-red-900
}
.h-footer11{
  @apply h-[70px]
}
.h-footer111{
  @apply h-[80px]
}
.h-footer1111{
  @apply h-[80px]
}


}
.inppp{
  transition: 300ms;
  &:focus{
    box-shadow: 0px 0px 8px dodgerblue;
  }
}
[type= "checkbox"]{
  width: 28px !important;
  height: 50px !important;
  border-style: solid !important;
  border-width: 10px !important;
  border-color: red !important;
  margin-left: 15px;
  &:hover{
    border: solid 10px green !important; 
  }
}
.bt-hov{
  &:hover span{
    color: whitesmoke;
  }
}
.h-footer{
  @apply h-[100px]
}
.h-footer2{
  @apply h-[150px]
}
.h-footer3{
  @apply h-[170px]
}
.h-footer4{
  @apply h-[170px]
}
.opac-text-yo{
  opacity: 80%; 
}
.height-subFooter-mobile{
  @apply h-[80px] 
}
.height-subFooter-mobile1{
  @apply h-[100px] }
.height-subFooter-mobile2{
  @apply h-[120px]  mt-[7px]
}
.height-subFooter-mobile3{
  @apply h-[140px]  mt-[7px] bg-amber-400
}
.height-subFooter-mobile4{
  @apply h-[140px]  mt-[7px] bg-amber-400
}
.opacity-footer-mo{
  @apply opacity-100
}
.toopp{
  @apply top-0
}

.sub-footer-div{
 span:hover{
  color: rgb(25, 199, 37);
  }
}
.sub-footer-div2{
 span:hover{
  color: rgb(25, 199, 37);
  }
}
.sub-footer-div3{
 span:hover{
  color: rgb(25, 199, 37);
  }
}
.sub-footer-div4{
 span:hover{
  color: rgb(25, 199, 37);
  }
}
.opacity-footer{
@apply  opacity-100 h-[100%]
}
.color-click{
color: rgb(25, 199, 37); 
}
.translate-click{
  transform: rotate(-90deg);
  color:rgb(25, 199, 37);
}

.block-add{
  display: block;
}
.block-remove{
  display: none;
}

.part-1-4{
  &:hover .divdiv span{
color: rgb(25, 199, 37);
  }
}
.p1{
  &:hover .div-last span{
    color: rgb(25, 199, 37);
  }
}
  .p1-camp{
    &:hover .ddd span{
      color: rgb(25, 199, 37);
    }
  }
  .yes{
    opacity: 1;
  }
.add{
  height: 120px;
}
.add111{
  height: 0px;
}
.radd{
  height: 0px;
  opacity: 0;
}
.remove{
height: 70px;
}
.add-to-remove{
  height: 250px;
}
.add-to-sub{
  height: 35px;
  opacity: 1;
}
.add-to-sub-mo{
  width: 100%;
  height: 100%;
  opacity: 1;
  margin: auto;
  margin-top: 50px;
}
.add-to-main-remove-mo{
  height: 300px;
}
.add1{
  height: 1620px !important;
}
.add2{
  height: 1850px !important;
}
.add3{
  height: 1850px !important;
}
.pishFactor{
  background: linear-gradient(90deg, #606060, #818181);
  &:hover{
    background:linear-gradient(90deg, #484848, #696868);
  }
  &:hover div{
     background-color: rgb(36, 214, 36);
     box-shadow: 0px 0px 10px rgb(36, 214, 36);
  }
}
.black-mobile-menu-button{
background: linear-gradient(90deg, #606060, #818181);

  &:hover{
    background:linear-gradient(90deg, #484848, #696868);
  }
}
 
[type="search"]::placeholder{
  position: absolute;
  top: 15px;
  right: 8px;
  color: rgb(155, 151, 151);
  font-family: shabnam;
  font-size: 14.5px;
}
.icon-search{
  margin-right: 15px;
  color: rgb(168, 164, 164);
  font-weight: 100;
  font-size: 20px;
}
.icon-p1,.icon-p2{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: gray;
}
.navDiv:hover .hamburgerDiv .hanburger{
  background-color: rgb(36, 214, 36);
}
.left{
  left: 75px;
}
.click{
  .main-text{
    color: rgb(95, 92, 92);
  }
 &:hover .main-text{
  color: rgb(22, 191, 22);
 }
 .divasub{
  &:hover .hover-me{
    color: rgb(22, 191, 22);
  }
 }
 .div-sub{
  &:hover .hover-me{
    color: rgb(22, 191, 22);
  }
 }

}
.bg-page3{
  background-color: #e5f9eb;
}



