html,body{
    ::-webkit-scrollbar{
width: 6px ;
background-color: rgb(201, 200, 200) ;
}
::-webkit-scrollbar-thumb{
    width: 8px !important;
    background-color: navy !important;
    border-radius: 10px !important;
}
}
  @font-face {
    font-family: shabnam;
    src: url(../font/Shabnam-Medium-FD.woff);
  }
body{
    overflow-x: hidden;
    font-family: shabnam;
  }
  html,
  body {
    scroll-behavior: smooth;
    font-family: shabnam;
  }
 
  .shabnam{
    font-family: shabnam;
  }
  *{
    font-family: shabnam;
  }
